Source: php-ease-bootstrap4
Build-Depends: debhelper (>= 7.0.50~), jq, moreutils
Section: web
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/ease-bootstrap4

Package: php-ease-bootstrap4
Depends: ${misc:Depends},php-ease-html,javascript-common
Architecture: all
Conflicts: ease-framework
Suggests: php-ease-bricks
Section: web
Priority: optional
Description: Set of Twitter Bootstrap 4 rendering objects
 TWB4 classes for Ease Framework.
